body{
    background-color: #f8f9fa;
    height: 100vh;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FF681A;
    --font-family: 'Roboto', sans-serif;
}
.signup-container {
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .carousel-inner img {
    border-radius: 10px;
  }
  .form-section {
    padding: 40px;
  }

  a{
    text-decoration: none;
    color: var(--primary-color);
  }

  .btn-warning{
    color: var(--primary-color);
  }